.home {
    background-color: var(--main-color);
    overflow: hidden;
    margin: 1px;

    

}
.list:first-of-type {
        margin-top: -200px;
        .list-title {
            position: relative;
        }
    }